th, td {
    border: 1px solid;
}
th {
    font-weight : bold
}

#chart { 
  background-color: whitesmoke;
  padding: 10px;
  width: 50%;
  height: 100%;
  min-height: 15em;
  margin: 10%;


  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}